* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: white;
    height: 100%;
    background: url("KompiKuBG.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.header{
    text-align: center;
    width: 100%;
    background-color: #00A2FF;
    padding: 5px 0;
}
.section{
    width: 90%;
    max-width: 1100px;
}
.section-container{
    width: 60%;
    max-width: 700px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
.testimonial h3{
    text-align: center;
}
.testimonial a{
    text-decoration: none;
    position: fixed;
    bottom: 15%;
    font-weight: bold;
    color: white;

}
.about-us h3{
    text-align: center;
}
.about-us a{
    text-decoration: none;
    position: fixed;
    bottom: 15%;
    font-weight: bold;
    color: white;
}
.login h3{
    text-align: center;
}
.input-box{
    padding: 5px 5px;
    border-bottom: 3px solid white;
}
.input-box input{
    border: none;
    outline: none;
    background: none;
    padding: 10px 8px;
    color: white;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.input-box input :focus{
    color: white;
}
::placeholder{
    color: white;
    font-weight: bold;
}
.container p{
    padding: 10px 0;
    text-align: left;
}
.container{
    border: solid 2px rgb(129, 129, 209);
    border-radius: 12px;
    padding: 10px;
    margin: 0 5px;
    width: 30%;
    min-width: 185px;
}
.btn{
    background: linear-gradient(white,whitesmoke);
    padding: 5px 0;
    width: 100%;
    margin: 15px 0;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.footer{
    width: 100%;
    position: fixed;
    bottom: 0%;
    display: flex;
    background-color: #00A2FF;
    color: black;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.footer ul{
    list-style: none;
    margin: 0 10px;
}
.footer ul li{
    margin: 5px 0;
    padding: 5px;
    font-weight: bold;
}